zigbee2Mqtt:
  mqtt:
    address: tcp://127.0.0.1
    port: 1883
    topic: zigbee2mqtt
    timeout: 15
    username: someuser
    password: somepassword
automation:
  mqtt:
    address: tcp://127.0.0.1
    port: 1883
    topic: automated_door_codes
    username: someuser
    password: somepassword
security:
  rememberMeKey: change-me
  users:
    - name: alice
      password: change-me
    - name: bob
      password: change-me
  basicAuthEnabled: true
  oauth2Enabled: true
  oauth2Group: door-codes-manager
spring:
  security:
    oauth2:
      client:
        registration:
          authelia:
            client-id: door-codes-manager
            client-secret: change-me
            scope: openid,groups,profile
code-start-and-expiration-check-timer: 5m
ntfy:
  enabled: true
  url: https://your-ntfy-url.com
  user: someuser
  password: somepassword
  token: TOKEN
  topic: doorcodes
